<!-- 2013-01-01 -->     => Date, parsed by wswsh. Useful for RSS.
<!-- DESC: Foo -->     => Oh yeah a description.
<h1>YES? NO? YES? NO? OK, GO FOR YNO!</h1>     => Page title. Put one <h1> at least.
<p>John Doe is famous.</p>
<p>Blablabla</p>
<p>bla............</p>
