# 2013 - wswsh - Ypnose <linuxien[AT]legtux[DOT]org
# wswsh.conf.example

# One config per website. Put it in the root folder.

# Site title.
#WTIT=""

# Write the other interpreter (smu for example).
# You must place the executable in a directory called "interp", in the root folder.
# You can leave this option if you only concatenate files.
#INTERP=""

# Default extension is txt, when EXT isn't specified.
# If you want to write articles with HTML fragments,
# EXT should be wshtml.
# If you want to write articles in markdown,
# EXT should be md or markdown.
# DON'T WRITE html or .txt (we don't need the dot).
# For example, if you choose txt, it'll "use" files with the
# following extensions: txt,TXT,txT,TxT,tXt and so on.
#EXT=""

# Source files and destination files.
# Better to avoid spaces in directories names.
# If SRC isn't defined, src/ is the source folder.
# If DEST isn't defined, dest/ is the destination folder.
#SRC=""
#DEST=""

# CSS style. Pretty obvious, right?
# Write entire location from the src folder.
#CSSF=""

# UNUSED (FOR NOW)!
# Separate filename with spaces.
#IGNORE=""
