# Post example when you use HTML. You can change the extension.

# Optional, needed by the RSS.
# date format: year-month-day (date "+%Y-%m-%d")
<!-- DATE: 2013-01-01 -->
<!-- DESC: This is my first foo -->

# Required
<h1>YES? NO? YES? NO? OK, GO FOR YNO!</h1>     => Page title. Put one <h1> at least.
# Only the first <h1> is used, the others are ignored.

<p>John Doe is famous. Actually I do not why. I prefer Dupond.</p>
<p>Blablabla</p>
<p>bla............</p>
<p>...</p>
